<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>templatesApp</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Welcome to Django Project</h1>
    <img src="{% static 'images/imageFile.jpg' %}" alt="demo image">
    <video src="{% static 'videos/video.mp4' %}"controls>Video</video>
    <audio src="{% static 'audios/audio.mp3' %}"controls>Audio</audio>
</body>
</html>